.todo-detail-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card{
    padding-bottom: 10px;
}

mat-card-content{
    margin-top: 20px;
}

mat-card-footer{
    display: flex;
    justify-content: flex-end;
    padding-right: 18px;

    button{
        margin-left: 10px;
    }
}

.todo-card{
    margin-top: 100px;
    width: 450px;
}

.card-table{
    width: 50%;
    height: 100px;
    padding: 0;
}

.mat-grid-tile-content{
    justify-content: start;
}

.tile-key{
    width: 100%;
}

.tiles{
    display: flex;
    justify-content: space-between;
}

.todo-item{
    width: 200px;
    display: block;
    height: 100%;
}

.todo-description{
    min-width: 150px;
    max-width: 425px;
    width: 100%;
    margin-top: 20px;
}

.description-title{
    font-size: 14px;
    font-weight: 400;
}

.todo-description-form{
    width: 100%;
}
