<div>
  <!-- Сетка из AngularMaterial. в зависимости от родителя отрисовывается сетка с разным количеством колон, на странице детального просмотра сетка рендерится в одну колону.-->
  <mat-grid-list
  [cols]="parent === 'todosPage' ? 30 : 1" 
  [rowHeight]="'40px'"
  >
  <!-- Итерируем плитки, каждая из которых отрисовывает одно из полей задачи, по индексу определяем поля со специфичной разметкой. (На странице детального просмотра индекс смещается на один) -->
  @for(tile of tiles; track tile; let i = $index) {
    <!-- Данный эелемент это селектор статуса, значит в плитку передаётся селектор, в который сообщаются опции, значение по умолчанию хендлер изменения статуса. -->
    @if((parent === 'todosPage' && i === 4) || (parent === 'todoPage' && i === 3)) {
      <mat-grid-tile
      class="status-select"
      [style.background-color]="statusColor"
      [colspan]="tile.cols"
      >
      <app-my-select
      (valueChange)="statusChangeHandler($event)"
      class="my-select"
      [options]="['По плану', 'Под угрозой', 'Отстаёт']"
      [initialValue]="todo.status.value"
      >
      </app-my-select>
      </mat-grid-tile>

      <!-- Для поля с приоритетам делаем тоже самое, только передаём соответствующие ему методы и свойства. -->
  } @else if((parent === 'todosPage' && i === 3) || (parent === 'todoPage' && i === 2)) {
    <mat-grid-tile
    class="priority-select"
    [style.background-color]="priorityColor"
    [colspan]="tile.cols"
    >
    <app-my-select
    (valueChange)="priorityChangeHandler($event)"
    class="my-select"
    [options]="['Высокий', 'Средний', 'Низкий']"
    [initialValue]="todo.priority"
    >
    </app-my-select>
    </mat-grid-tile>

    <!-- Для поля с исполнителем ортрисовываем либо блок с имполнителем либо текстовый инпут, через который имполнитель редактируется. Изначальное значение инпута равно значению сигнала, который при инициализации приравнивается к полю исполнителя задачи. Видимость инпута меняется при нажатии на блок где отображается строка исполнителя и при клике на кнопку, сохраняющую изменение исполнителя.   -->
  } @else if((parent === 'todosPage' && i === 1) || (parent === 'todoPage' && i === 0)) {
    <mat-grid-tile
    class="executor-tile"
    [colspan]="tile.cols"
    >
    @if (!isInputVisible) {
      <div
      (click)="swithcInputVisible()"
      class="todo-executor"
      >
        {{executor().length ? executor() : 'Исполнитель не назначен'}}
      </div>
    } @else {
      <div
      class="executor-form"
      >
        <mat-form-field
        >
          <input
          class="executor-input"
          (input)="executorChangeHandler($event)"
          [value]="tile.text"
          [placeholder]="tile.text"
          matInput/>
        </mat-form-field>
        <button 
        class="icon-btn"
        mat-icon-button
        color="accent"
        (click)="changeExecutor()"
        >
          <mat-icon>
            done
          </mat-icon>
        </button>
      </div>
    }
    </mat-grid-tile>

    <!-- отрисовка остальных плиток -->
  } @else {
    <mat-grid-tile
    [colspan]="tile.cols"
    >{{tile.text}}
    </mat-grid-tile>

  }
}

<!-- Если родительская страница со всеми задачами, то у каждой задачи отрисовываются кнопки редиректа на страницу детального просмотра и кнопка удаления задачи. -->
@if (parent === 'todosPage') {
  <div
  class="todo-btns"
  >
    <mat-grid-tile
    [colspan]="1"
    >
      <button
      (click)="deleteTodo()"
      class="add-button"
      color="warn"
      mat-icon-button
      >
        <mat-icon
        >
        delete
        </mat-icon>
      </button>
    </mat-grid-tile>
 
    <mat-grid-tile
    [colspan]="1"
    >
      <button
      [routerLink]=" 'todos/' + todo.id "
      color="accent"
      mat-icon-button
      >
        <mat-icon
        >
        edit
        </mat-icon>
      </button>
    </mat-grid-tile>
  </div>
}

</mat-grid-list>
</div>
