.todo-list{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // top: 0;
}

.todo-item{
    margin: 5px 0;
    transition: .2s;
}

.todo-item:hover {
    padding: 2px;
}

.todo-grid{
    width: 70%;
}
