.todo-list{
    width: 80%;
    display: flex;
    justify-content: center;
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // top: 0;
}

mat-grid-tile{
    cursor: pointer;
}

mat-grid-tile:hover{
    opacity: .9;
}
