<div>
  
<app-my-modal/>  
</div>
<div
class="todo-list"
>

    <div
    >
    
    
    <mat-grid-list
    cols="8"
    rowHeight="60px"
    >
    @for(tile of tiles; track tile) {
        <mat-grid-tile
        [colspan]="tile.cols"
        [style.background]="tile.color"
        [style.border-top]="tile.border"
            [style.border-right]="tile.border"
            >{{tile.text}}</mat-grid-tile>
        }
    </mat-grid-list>
    @for (todo of todos; track todo.id) {
        <app-todo-item
        [todo]="todo"
        />
    }
    
    <mat-grid-list
    [style.backgroundColor]="'#555'"
    cols="8"
    rowHeight="60px"
    >
    
    <mat-grid-tile
    [colspan]="3"  
    >
    Добавить задачу...
</mat-grid-tile>

</mat-grid-list>
</div>
</div>