<div>
    <!-- Модально окно с кнопкой добаить задачу -->
  <app-my-modal/>  
</div>

<div
class="todo-content"
>

    <!-- Блок кнопок на странице задач, в данный момент в нём всего одна кнопка - фильтр задач -->
    <div
    class="todo-buttons"
    >
        <!-- Панель отрисовывается только если флаг монтирования true, в себя принимает такие параметры как исполнители, дл яселектора исполнителей, visibility - флаг видимости панели. Также эммитирует три события меняет видимости себя, пердаёт объект изменений, который попадают в функцию фильтрации и инициирует демонтаж самой себя.  -->
        @if (mountFilterPanel) {
            <app-filter-component
            [executors]="existingExecutors"
            [visibility]="showFilterPanel"
            (closeEmitter)="switchFilterVisibility()"
            (changesEmitter)="filterHandler($event)"
            (clearFiltersEmitter)="demountFilterPanel()"
            />
        }
        <!-- По флагу активности фильтров отрисовывается одна или другая кнопка. Функционал один просто другие стили. При нажатии меняет видимость панели фильтров. -->
        @if(filterIsActive) {
            <button 
            class="todo-btn"
            (click)="switchFilterVisibility()"
            mat-fab 
            extended 
            color="primary" 
            >
                <mat-icon>filter_list</mat-icon>
                Фильтр
            </button>
        } @else {
            <button 
            (click)="switchFilterVisibility()"
            mat-fab 
            extended
            color="basic" 
            >
                <mat-icon>filter_list</mat-icon>
                Фильтр
            </button>
        }

        <!-- <mat-chip-grid #chipGrid aria-label="Enter fruits">
            @for (filter of filterProps; track filter) {
              <mat-chip-row
                (removed)="removeFilterProp(filter)"
                [editable]="false"
                [aria-description]="'press enter to edit ' + filter">
                {{filter}}
                <button matChipRemove [attr.aria-label]="'remove ' + filter">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
        </mat-chip-grid> -->
    </div>

    <div
    class="todo-grid"
    >
    <!-- Сетка AngularMaterial -->
    <mat-grid-list
        cols="30"
        rowHeight="60px"
        >
        <!-- Итерируемся по плиткам, индексам соответствуют свойства по которым можно сортировать задачи. По клику вызывается функция sort куда передаётся поле текст плитки-->
        @for(tile of tiles; track tile; let i = $index) {
            @if(i === 1 || i === 2 || i === 4) {
                <mat-grid-tile
                class="sorting-tile"
                (click)="sort(tile.text)"
                [colspan]="tile.cols"
                [style.border]="tile.border"
                [style.background-color]="'#555'"
                >
                    <div
                    class="tile-block"
                    >
                        <div
                        class="title-block"
                        >
                            {{tile.text}}
                        </div>
                        <!-- Если свойство сортировки и текст плитки совпадают, значит сортируются по ней, поэтому добавляем стрелку вниз или вверх в зависимости от направления сортировки -->
                            @if(
                                sortProp === tile.text
                                ) {
                                    <mat-icon
                                    class="sort-icon"
                                    >
                                    {{ sortDirection === -1 ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                                    </mat-icon>
                            }
                        </div>
                </mat-grid-tile>
                
            } @else {
                <!-- Остальные плитки -->
                <mat-grid-tile
                [colspan]="tile.cols"
                [style.border]="tile.border"
                [style.background-color]="'#555'"
                >
                    <div
                    class="tile-block"
                    >
                        {{tile.text}}
                    </div>
                </mat-grid-tile>
        }
        <!-- Одна плитка над кнопками удаления и редактирования задачи todoItem -->
        }
        <mat-grid-tile
        [colspan]="2"
        [style.border]=" '1px solid black' "
        [style.background-color]="'#555'"
        ></mat-grid-tile>
    </mat-grid-list>

    <!-- если задач нет выводится подсказка -->
    @if(todos && !todos.length) {
        <h3
        class="no-todos"
        >
            Задач пока нет...
        </h3>
    }

    <!-- Далее итерируемся по задачам и кажду передаём в компонент todoItem, где рожителем указываем todosPage. Также вешаем метод обновления задач на слушатель события emitTodosUpdate  -->
    @for (todo of todos; track todo.id) {
       <mat-card
       class="todo-item"
       >
        <app-todo-item
        (emitTodosUpdate)="updateTodos()"
        [todo]="todo"
        />
       </mat-card>
    }
    </div>
</div>